<div class='row'>
  <div class='container'>
    <h3 class='text-center'>
    健身食譜
    <% if logged_in? %>
      <%= link_to "新增食譜", new_recipe_path, class: "btn btn-primary" %>
    <% end %>
    </h3>
    <hr>
    <% @recipes.each do |recipe| %>
      <td>
      <%= link_to recipe_path(recipe) do %>
        <%= image_tag recipe.image.url, size: "250" %>
      <% end %>
      </td>
    <% end %>
  </div>
</div>