<div class="container">
  <div class="row">
    <div class="col-md-6"><h3>近期討論</h3>            
      <!-- tabs left -->
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li><a href="#a" data-toggle="tab">胸肌</a></li>
          <li class="active"><a href="#b" data-toggle="tab">背肌</a></li>
          <li><a href="#c" data-toggle="tab">肩膀</a></li>
          <li><a href="#d" data-toggle="tab">手臂</a></li>
          <li><a href="#e" data-toggle="tab">股四頭肌和小腿肌</a></li>
          <li><a href="#f" data-toggle="tab">臀肌和腿後肌</a></li>
          <li><a href="#g" data-toggle="tab">核心肌</a></li>
          <li><a href="#h" data-toggle="tab">全身訓練</a></li>
          <li><a href="#i" data-toggle="tab">有氧運動</a></li>
        </ul>
        <div class="tab-content">
         <div class="tab-pane active" id="a">胸肌</div>
         <div class="tab-pane" id="b">背肌</div>
         <div class="tab-pane" id="c">肩膀</div>
         <div class="tab-pane" id="d">手臂</div>
         <div class="tab-pane" id="e">股四頭肌和小腿肌</div>
         <div class="tab-pane" id="f">臀肌和腿後肌</div>
         <div class="tab-pane" id="g">核心肌</div>
         <div class="tab-pane" id="h">全身訓練</div>
         <div class="tab-pane" id="i">有氧運動</div>
        </div>
      </div>
      <!-- /tabs -->      
    </div>
    </div>    
  </div><!-- /row -->
</div>




      