<div class="container">
  

<p>
  <strong>標題</strong>
  <%= @post.title %>
</p>

<p>
  <strong>內容</strong>
  <%= @post.description %>
</p>

<p>
  <strong>照片</strong>
  <%= image_tag @post.image.url(:original), class: "img-responsive" %>
</p>

 </div>   
    
