<div class="container">
  <%= form_for @category do |f| %> 
    <%= f.label :name, "部位分類" %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit "新增分類", class: "btn btn-primary" %>
  <% end %> 
</div>